APP_NAME=tramplin
APP_PORT=8080
MIGRATIONS_DIR=migrations

DATABASE_URL=postgres://tramplin:tramplin@localhost:5432/tramplin?sslmode=disable
DOCKER_DATABASE_URL=postgres://tramplin:tramplin@db:5432/tramplin?sslmode=disable
DOCKER_MIGRATIONS_DIR=/app/migrations

S3_ENDPOINT=localhost:9000
DOCKER_S3_ENDPOINT=minio:9000
S3_ACCESS_KEY=tramplin
S3_SECRET_KEY=tramplin123
S3_BUCKET=tramplin
S3_USE_SSL=false
S3_PUBLIC_URL=http://localhost:9000
DOCKER_S3_PUBLIC_URL=http://localhost:9000
JWT_SECRET=change-me
JWT_TTL=24h

POSTGRES_DB=tramplin
POSTGRES_USER=tramplin
POSTGRES_PASSWORD=tramplin

APP_HOST_PORT=8081
POSTGRES_HOST_PORT=5433
S3_HOST_PORT=9000
MINIO_CONSOLE_HOST_PORT=9001
